<h2>My Loans</h2>
<ul class="loans">
  <li *ngFor="let loan of loans"
    [class.selected]="loan === selectedLoan"
    (click)="onSelect(loan)">
    <span class="badge">{{loan.id}}</span> {{loan.balance}} {{loan.term}} {{loan.rate}}
  </li>
</ul>

<div *ngIf="selectedLoan">

  <h2>{{selectedLoan.id}} Details</h2>
  <div><span>id: </span>{{selectedLoan.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="selectedLoan.balance" placeholder="balance"/>
      <input [(ngModel)]="selectedLoan.term" placeholder="term"/>
      <input [(ngModel)]="selectedLoan.rate" placeholder="rate"/>
    </label>
  </div>

</div>
