<h2>My Loans</h2>
<ul class="loans">
  <table style="width:25%">
    <tr><th>id</th><th>balance</th><th>term</th><th>rate</th></tr>
  <tr *ngFor="let loan of loans"
    [class.selected]="loan === selectedLoan"
    (click)="onSelect(loan)">
    <td>{{loan.id}}</td> <td>{{loan.balance}}</td> <td>{{loan.term}}</td> <td>{{loan.rate}}</td>
  </tr>
  </table>
</ul>

<div *ngIf="selectedLoan">

  <h2> Loan {{selectedLoan.id}} details</h2>
  <div>
    <label>name:
      <input [(ngModel)]="selectedLoan.balance" placeholder="balance"/>
      <input [(ngModel)]="selectedLoan.term" placeholder="term"/>
      <input [(ngModel)]="selectedLoan.rate" placeholder="rate"/>
    </label>
<!-- <button (click)="save()">save</button> -->
    <button>save</button>

  </div>

</div>
